<div class="add-major">
  <action-button [actionButton]="createBookAction"></action-button>
</div>
<div class="Majors-table-container">
  <ng-container *ngrxLet="majorsState$ | async as majorState">
    <ng-container *ngIf="majorState.status === HttpStatusEnum.success">
      <ng-container *ngFor="let major of majorState.majors">
        <div (click)="loadBooksCategory(major.categoryName)"
        class="major-item">
          <div class="major-name">
            {{ major.categoryName }}
          </div>
          <div class="icon">
            <fa-icon [icon]="['fas', 'book-open']"></fa-icon>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
